.jumbo {
	background-image: url(/img/jumbo-bg.png);
	background-size: contain;
}

.hero-banner-2 {
	background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
}

.carousel-accessories > *:hover {
	border-bottom: 2px solid blue;
}

footer a {
	color: white;
	text-decoration: none;
}
