.banner-big-jumbo {
	background-image: url(/img/jumbo-bg.png);
	padding-top: 300px;
}

.banner-big-2 {
	background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
}

[class^='banner-big'] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.carousel-accessories > *:hover {
	border-bottom: 2px solid blue;
}

.carousel-accessories * {
	border-bottom: 2px solid transparent;
	padding: 0 1rem;
}

footer a {
	color: white;
	text-decoration: none;
}

main {
	margin-top: 90px;
}

section,
footer {
	padding: 3rem 0;
}

h1 {
	font-size: calc(1.375rem + 1.8vw);
}

h2 {
	font-size: calc(1.375rem + 1.5vw);
}

.card {
	padding: 0.1rem;
	border-radius: 1rem;
	border: none;
}

.card:hover {
	outline: 2px solid var(--bs-primary);
}

.carousel-accessories p {
	display: none;
}

.my-list-unstyled {
	list-style: none;
}

.my-list-unstyled > li {
	padding: 0.2rem 0;
}

.banner {
	padding: 0;
}

.banner p {
	padding: 1rem 0;
}
